<div class="footer">
    <div class="pull-right">
        Vive hoy como si fueras a morir mañana.
    </div>
    <div>
        <strong>Copyright</strong> Novuscrew &copy; @DateTime.Now.Year
    </div>
</div>
